{
  "extends": "google",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "quote-props": ["error", "consistent"],
    "require-jsdoc": "off"
  }
}
