language: node_js
node_js:
  - 4.0
  - 4.1
  - 4.2
  - 4.3
  - 4.4
  - 5.0
  - 5.1
  - 5.2
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 5.7
  - 5.8
  - 5.9
  - 5.10
  - 5.11
  - 6.0
  - 6.1
  - 6.2
before_install:
  - npm install -g npm@latest
